<div class="item">
    <i class="carousel-icon bg-secondary text-white rounded px-2 bi bi-card-image"></i>
    <img src="/uploads/images/{{image.filename}}" alt="{{image.name}}" class="carousel-image">
    <a class="carousel-link" href="#ImageModal-{{image.id}}"
        data-bs-toggle="modal" data-bs-target="#ImageModal-{{image.id}}">
        {{image.name}}
    </a>
</div>