{% extends 'base.html.twig' %}

{% block content %}
  <div class="container">
    {{ form_start(form, {"attr": {"class": "d-flex flex-column py-3"}}) }}
    {{ form_widget(form._token) }}

    <div class="row">
      <div class="col-12">
        <div class="file-uploader" id="formThumnbail">
            {{ form_label(form.thumbnail, null, {"label_attr": {"class": "uploader-label"}}) }}
            {{ form_widget(form.thumbnail, {"attr": {"class": "d-none"}}) }}
            <img class="thumbnail-preview" src="{{ asset('build/images/empty_image.png') }}" alt="Thumbnail preview">
            <label class="thumbnail-path form-label uploader-label">Cliquer pour modifier l'image</label>
        </div>
      </div>

      <div class="col-12 col-md-6">
        {{ form_row(form.name) }}
      </div>
      <div class="col-12 col-md-6">
        {{ form_row(form.category) }}
      </div>
      <div class="col-12">
        {{ form_row(form.slug) }}
      </div>
      <div class="col-12">
        {{ form_row(form.description) }}
      </div>
      <div class="col-12 d-flex flex-column">
        <div class="mb-4 d-flex">
          <h3>Vidéos</h3>
          <button type="button" id="addVideo" class="ms-auto btn btn-primary" type="submit">Ajouter vidéo</button>
        </div>
        <div id="trick_edit_videos" class="row" data-prototype="{{ include("Elements/video/display_card.html.twig", {form: form.videos.vars.prototype})|e("html_attr") }}">
          {% for video in form.videos %}
            {{ include("Elements/video/display_card.html.twig", {form: video}) }}
          {% endfor %}
        </div>
      </div>
      <div class="col-12 d-flex flex-column">
        <div class="mb-4 d-flex">
          <h3>Images</h3>
          <button type="button" id="addImage" class="ms-auto btn btn-primary" type="submit">Ajouter une image</button>
        </div>
        <div id="trick_edit_images" class="row" data-prototype="{{ include("Elements/image/display_card.html.twig", {form: form.images.vars.prototype})|e("html_attr") }}">
          {% for image in form.images %}
            {{ include("Elements/image/display_card.html.twig", {form: image}) }}
          {% endfor %}
        </div>
      </div>
      <div class="col-12 mb-4 d-flex">
        <button class="ms-auto btn btn-primary" type="submit">Enregistrer</button>
      </div>
    </div>
    {{ form_end(form, {render_rest: false}) }}
  </div>
{% endblock %}

{% block stylesheets_bottom %}
  {{ encore_entry_link_tags('file_uploader') }}
  {{ encore_entry_link_tags('trick_edit') }}
{% endblock %}

{% block javascripts_bottom %}
  {{ encore_entry_script_tags('file_uploader') }}
  {{ encore_entry_script_tags('trick_edit') }}
{% endblock %}