{% extends 'base.html.twig' %}

{% if trick.thumbnailFilename %}
  {% set filenameFullPath = '/uploads/thumbnails/' ~ trick.thumbnailFilename %}
{% else %}
  {% set filenameFullPath = asset('build/images/empty_image.png') %}
{% endif %}

{% block content %}
  {% include 'Elements/trick/delete_modal.html.twig' with {
    trick: trick
  } %}

  <div class="header">
    <img class="header-image" src="{{ filenameFullPath }}" alt="Thumbnail" />
    <div class="header-title">
      {{ trick.name }}
    </div>
    {% if app.user %}
      <div class="position-absolute end-0 top-0 m-2">
        <a href="/trick/edit/{{ trick.slug }}"
          title="Modifier le trick"
          class="btn btn-sm btn-primary">
          <i class="bi bi-pencil-fill"></i>
        </a>
        <a href="#"
          title="Supprimer le trick"
          title="Modifier le trick"
          class="btn btn-sm btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#TrickDeleteModal_{{ trick.id }}">
          <i class="bi bi-trash-fill"></i>
        </a>
      </div>
    {% endif %}
  </div>

  <section class="px-3 mb-3">
    <div class="owl-carousel owl-theme">
      {% for image in trick.images %}
        {% include 'Elements/image/display_carousel.html.twig' with {
          image: image
        } %}
      {% endfor %}
      {% for video in trick.videos %}
        {% include 'Elements/video/display_carousel.html.twig' with {
          video: video
        } %}
      {% endfor %}
      
    </div>
  </section>

  <div class="d-flex flex-row">
      {% for image in trick.images %}
        {% include 'Elements/image/display_fullscreen.html.twig' with {
          image: image
        } %}
      {% endfor %}

      {% for video in trick.videos %}
        {% include 'Elements/video/display_fullscreen.html.twig' with {
          video: video
        } %}
      {% endfor %}
  </div>
  
  <section class="px-3 mb-3">
    {{ trick.description|nl2br }}
  </section>

  <section class="container mb-3">
    <div class="row">
      <div class="d-flex flex-row justify-content-center flex-wrap">
        <div class="rounded m-2 p-1 px-4 bg-light border">
          <b>Catégorie</b><br />
          {{ trick.category.name }}
        </div>
        <div class="rounded m-2 p-1 px-4 bg-light border">
          <b>Créé le</b><br />
          {{ trick.created|format_datetime }}
        </div>
        <div class="rounded m-2 p-1 px-4 bg-light border">
          <b>Modifié le</b><br />
          {{ trick.modified|format_datetime }}
        </div>
      </div>
    </div>
  </section>

  <section class="px-3 mb-3">
    <hr />
  </section>

  {% if app.user %}
    <div class="container mb-4">
      {{ form_start(form_comment) }}
      {{ form_rest(form_comment) }}
      <button class="btn btn-primary" type="submit">Envoyer</button>
      {{ form_end(form_comment) }}
    </div>
    
    <section class="px-3 mb-3">
      <hr />
    </section>
  {% endif %}


  <div class="px-3 mb-3">
    <ul id="commentList" class="container">
      {% for comment in comments %}
        {% include 'Elements/comment/display_card.html.twig' with {
          comment: comment
        } %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block javascripts_bottom %}
  {{ encore_entry_script_tags('trick_view') }}
{% endblock %}

{% block stylesheets_bottom %}
  {{ encore_entry_link_tags('trick_view') }}
{% endblock %}
